build/
.vscode/

Writer.hpp
Writer.cpp
main.cpp

heat_equation.cpp
heat_equation.cpython-312-x86_64-linux-gnu.so
heat_equation.html

python_test.ipynb


# git status          # Проверяем статус
# git add .           # Добавляем все изменения
# git commit -m "Сообщение коммита"   # Создаём коммит
# git push origin main 